@import './base/settings';
@import './base/base';

.icon {
  cursor: pointer;
  user-select: none;
  display: inline-block;
  height: 32px;
  vertical-align: -4px;

  &:active {
    color: #1E67A9;
  }

  &-l {
    height: 48px;
  }
}


