.root {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--dark-grey-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box {
  color: fade-out(white, 0.15);
  padding: var(--s-size) var(--s-size);
  text-align: center;
  width: 50rem;
  margin-bottom: 2rem;
}

h1 {
  font-size: var(--xl-size);
}

footer {
  p {
    color: var(--rose-red);
    font-family: monospace;
    font-size: var(--s-size);
    margin: 0;

    span {
      color: var(--blue);
    }
  }
}
