// using css variables because scss variables don't work across modules

:root {
  //colours
  --grey: #888888;
  --grey2: #666;
  --dark-grey: #333333;
  --blue: #1c88bf;
  --dark-blue: #192944;
  --dark-grey-blue: #282c34;
  --off-white: #f7f7f7;
  --rose-red: rgb(199, 83, 99);
  
  //Font sizes
  --font-size-large: 1.8rem;
  --font-size-small: 1.4rem;
  
  //spacing
  --xxs-size: 0.5rem;
  --xs-size: 1rem;
  --s-size: 1.2rem;
  --m-size: 1.6rem;
  --xm-size: 2.4rem;
  --l-size: 3.2rem;
  --xl-size: 4.8rem;
  --xxl-size: 6.4rem;
  --desktop-breakpoint: 45rem;
  
  //fade time
  --fade-time: 1s;
}


//fonts
@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff") format("woff"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7") format("svg");
}